{%- comment -%}
  Inputs:
    nothing
{%- endcomment -%}

{%- style -%}
  .cart-popup__recommendations {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #ccc;
  }
  .cart_popup_recommendations-title {
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }
  .cart_popup_recommendations-products {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .cartpopup__product-button .button {
    font-size: 13px;
    font-family: var(--font-text);
    margin-top: 15px;
    padding: 5px 15px;
  }
{%- endstyle -%}

<div class="cart-popup__recommendations">
  <div class="cart_popup_recommendations-title">{{ "cart.popup_recommended_title" | t }}</div>
  <div class="cart_popup_recommendations-products loading">
    <div class="skeleton-loading skeleton-item-1 mt-2"></div>
    <div class="skeleton-loading skeleton-item-2 mt-2"></div>
    <div class="skeleton-loading skeleton-item-3 mt-2"></div>
  </div>
</div>

<script>
  CartPopup = window.CartPopup || {};
  CartPopup.getRecommendedProducts = (data) => {
    let product = data.product;
    let cartpopup = document.getElementById("cartPopup");
    let layout_wrapper = cartpopup.querySelector(".cart_popup_recommendations-products");
    let layout = "";
    fetch(`/recommendations/products.json?product_id=${ product.product_id }`)
      .then(response => response.json())
      .then(({ products }) => {
        if (products.length > 0) {
          products.forEach(product => {
            let image = product.featured_image.replace(".jpg", "_x110.jpg");
            layout += `
              <div class="cartpopup__product">
                <div class="cartpopup__product-image image-responsive__container image-square skeleton-loading">
                  <img class="image-responsive__image" loading="lazy" src="${ image }">
                </div>
                <div class="cartpopup__product-data">
                  <div class="cartpopup__product-title">
                    ${ product.title }
                  </div>
                  <div class="cartpopup__product-variant">
                    ${ product.variants[0].title }
                  </div>
                  <div class="cartpopup__product-price">
                    ${ theme.Currency.formatMoney(product.variants[0].price) }
                  </div>
                  <div class="cartpopup__product-button">
                    ${ product.variants[0].available ?
                      `<div 
                        class="button product-grid-item__button" 
                        onClick="theme.cart.addItem(this); CartPopup.fakeFetch('${ product.handle }')" 
                        data-product-id="${ product.variants[0].id }"
                      >
                        {{ 'action.add_to_cart' | t }}
                      </div>`
                    :
                      `<div class="button button-secondary product-grid-item__button">
                        {{ 'common.sold_out' | t }}
                      </div>`
                    }
                  </div>
                </div>
              </div>
            `; 
          });
        }
        else {
          layout = "{{ 'search.no_results' | t }}";  
        }
        layout_wrapper.innerHTML = layout;
      });
  };

  /**
   * Fake fetch for marketing tracking
  */
  CartPopup.fakeFetch = (handle) => {
    fetch(`/products/${ handle }`);
  }
</script>