{%- comment -%}
  Inputs:
    menu - menu handle or menu object
{%- endcomment -%}

{%- liquid
  if menu.links != blank
    assign menu_object = menu 
  else 
    assign menu_object = linklists[menu]
  endif
-%}

<div class="menu flex">
  {% for item in menu_object.links %}
    <a
      href="{{ item.url }}"
      class="
        level1 
        {% if item.active %}active{% endif %}
        {% if item.levels > 0 %}hasChild{% endif %}
      "
    >
      <span>{{ item.title }}</span>
    </a>
  {% endfor %}
</div>