{%- comment -%}
  Inputs:
    product - product object
{%- endcomment -%}

<div class="product-block flex justify-center align-items-center">
  <a href="/products/{{ product.handle }}">
    <div class="product-block__image-container relative">
      {%- render: 'image', image: product.images[0], responsive: true -%}
    </div>
  </a>
  <div class="product-block__text-content flex flex-col">
    <p class="product-block__vendor title-tag">{{ product.vendor }}</p>
    <p class="product-block__title text-body">
      <a href="/products/{{ product.handle }}">{{ product.title }}</a>
    </p>
    <div class="product-block__prices">
      {%- render: 'product-price', product: product -%}
    </div>
  </div>
</div>

