{%- comment -%}
  Inputs:
    qty - current qty
    min - minimum qty can be set
    max - max qty available
    product_id - product id
{%- endcomment -%}

<div class="product-qty__wrapper">
  <input
    class="product-qty__input"
    type="number"
    value="{{ qty }}"
    min="{{ min }}"
    max="{{ max }}"
    aria-label="quantity"
    pattern="[0-9]*"
    name="quantity"
    data-product-id="{{ product_id }}"
  />
</div>
