{%- comment -%}
  Inputs:
    nothing
{%- endcomment -%}

<div class="splide__arrows">
  <button class="splide__arrow splide__arrow--prev" type="button" aria-label="Previous slide">
    <svg xmlns="http://www.w3.org/2000/svg" width="24.176" height="45.522" viewBox="0 0 24.176 45.522"><path class="a" style="fill:none;stroke:#000;stroke-width:2px;" d="M58.79,1532.042,80.844,1554.1,58.79,1576.15" transform="translate(-58.082 -1531.335)"/></svg>
  </button>
  <button class="splide__arrow splide__arrow--next" type="button" aria-label="Next slide">
    <svg xmlns="http://www.w3.org/2000/svg" width="24.176" height="45.522" viewBox="0 0 24.176 45.522"><path class="a" style="fill:none;stroke:#000;stroke-width:2px;" d="M58.79,1532.042,80.844,1554.1,58.79,1576.15" transform="translate(-58.082 -1531.335)"/></svg>
  </button>
</div>