{%- comment -%}
  Inputs:
    section - section object
{%- endcomment -%}

<div class="article-page article-wrapper flex page-width">
  <div class="article-page__article-content">
    {{ article.content }}
  </div>
</div>

