/* Create your own utility classes */
@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
  .big-text {
    font-size: 30px;
  }
  .main-bg {
    background: var(--theme-color);
  }
  .flex {
    display: flex;
  }
}