{% stylesheet %}
  /* SKELETON CSS */
  .skelet-item:not(.loaded) {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
  }
  .skeleton__main-wrapper {
    max-width: var(--content-width-desktop);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 720px;
  }
  .skeleton-wrapper {
    background-color: var(--color__feta);
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .25rem;
  }
  .skeleton-wrapper:first-child {
    height: 100%;
    width: 560px;
    min-width: clamp(360px,40vw,560px);
  }
  .skeleton-wrapper:last-child {
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    align-content: center;
    justify-content: center;
    height: 100%;
  }

  .skeleton-text {
    height: 50px;
    width: 90%;
    margin: .25rem;
  }
  .skeleton-buttons {
    display: flex;
    flex-direction: row;
  }
  .skeleton-button {
    width: 30%;
    height: 45px;
    margin: .25rem;
    margin-top: 1.5rem;
  }
  .skeleton-text:first-child {
    height: 20px;
    width: 20%;
    margin-bottom: 1.5rem;
  }
  .skeleton-text:nth-child(2, 3) {
    height: 100px;
  }
  .skeleton-text:nth-child(4) {
    height: 25px;
    width: 25%;
  }
  .skeleton-text:last-child {
    width: 70%;
  }

  @media screen and (max-width: 1023px) {
    .skeleton__main-wrapper {
      flex-direction: column;
      padding: 1.2rem;
    }
    .skeleton__main-wrapper .skeleton-wrapper {
      display:flex;
      width: 100% !important;
      align-items: center;
    }
    .skeleton-wrapper:last-child {
      padding: 0px;
    }
  }

  /* MAIN SECTION CSS */
  .hero-section .splide__main-wrapper .hero-image__cntainer {
    width: 560px;
  }
  .hero-section .splide__main-wrapper .li-container {
    max-width: var(--content-width-desktop);
    margin: 0 auto;
  }
  .splide__main-wrapper .splide__arrows {
    margin: 0 auto;
    padding: 0 .5rem;
    right: 0;
  }
  .hero-section .splide__main-wrapper ul li,
  .hero-section .splide__main-wrapper {
    min-height: 720px;
  }
  .hero-section .splide__main-wrapper .text-body p {
   margin: 0.5rem 0 3.5rem 0;
  }

  /* MEDIA QUERIES */
  @media screen and (min-width: 1024px) {
    .hero-section .splide__main-wrapper .hero-image__container {
      min-width: clamp(360px, 40vw, 560px);
    }
  }

  @media (max-width: 1023px) {
    .hero-section .splide__main-wrapper picture {
      position: unset;
    }
    .hero-section .splide__main-wrapper .li-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 1.2rem;
    }
    .hero-section .splide__main-wrapper .li-container > * {
      width: 100% !important;
    }
    .hero-section .splide__main-wrapper img {
      width: 95%;
      margin: 0 auto;
    }
    .hero-section .splide__main-wrapper .splide__slide .hero-image__container {
      height: calc(720px / 2);
    }
    .hero-section .splide__main-wrapper .image-responsive__image,
    .hero-section .splide__main-wrapper .image-responsive__image img {
      margin: 0 auto;
      width: 100%;
    }
    .hero-section .splide__main-wrapper h1 {
      text-align: center;
    }
    .hero-section .splide__main-wrapper .buttons {
      display: none;
    }
    .hero-section .splide__main-wrapper .hero-content__container {
      align-items: center;
      padding: 0 1rem;
      margin: auto;
    }
    .hero-section .splide__main-wrapper .splide__arrows {
      top: unset !important;
      bottom: 0 !important;
      justify-content: center !important;
    }
    .hero-section .splide__main-wrapper path {
      fill: var(--color__purple);
    }
  }

{% endstylesheet %}

  {%- comment -%} Skeleton Structure {%- endcomment -%}
  <div class="splide__main-wrapper relative p-0">
    <div class="skeleton__main-wrapper">
      <div class="skelet-item skeleton-wrapper">

      </div>
      <div class="skeleton-wrapper">
        <div class="skelet-item skeleton-text"></div>
        <div class="skelet-item skeleton-text"></div>
        <div class="skelet-item skeleton-text"></div>
        <div class="skelet-item skeleton-text"></div>
        <div class="skeleton-buttons">
          <div class="skelet-item skeleton-button"></div>
          <div class="skelet-item skeleton-button"></div>
        </div>
      </div>
    </div>

    {%- comment -%} Slider Wrapper {%- endcomment -%}
    <div class="splide splide--{{ section.id }}" style="display: none">
      {%- render 'hero', object: section -%}
    </div>
  </div>

<script>
  theme.waitForLoad("Splide").then(() => {
    // Select the Section Wrapper Element
    const $splideWrapper  = document.querySelector('.splide__main-wrapper');
    const scrollbar_width = theme.utils.getScrollbarWidth();

    // Add Mount Options for the Slider
    const splideOptions = {
      type       : 'loop',
      perPage    : 1,
      perMove    : 1,
      fixedWidth : `calc(100vw - ${scrollbar_width}px)`,
      width      : '100%',
      arrows     : true,
      pagination : false,
      autoplay   : false
    }

    // Initialize Splider
    const splideInit = new Splide('.splide--{{ section.id }}', splideOptions);

    // Trigger Skeleton Changes After Mounting
    splideInit.on('mounted', function () {
      setTimeout(() => {
        $splideWrapper.querySelector('.skeleton__main-wrapper').remove();
        $splideWrapper.querySelector('.splide--{{ section.id }}'            ).style.display = 'flex';
        $splideWrapper.querySelector('.splide__main-wrapper .splide__arrows').style.display = 'flex';
      }, 500);
    });

    // Mount the Slider
    splideInit.mount();

    // Shopify Customizer Custom Event
    document.addEventListener("shopify:section:load", () => {
      splideInit.destroy();
      new Splide('.splide--{{ section.id }}', splideOptions).mount();
    });
  });

</script>

{% schema %}
{
  "name": "Hero",
  "class": "shopify-section hero-section",
  "settings": [

  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "Text Settings"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Summer sale - Up to 50% off all products"
        },
        {
          "type": "text",
          "id": "title_tag",
          "label": "Title Tag"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle",
          "info": "Supports: <p> <br> <strong> <b> <em> <i> <u> <span> <a>",
          "default": "<p>Offer ends Sunday 27th June</p>"
        },
        {
          "type": "header",
          "content": "Image Settings",
          "info": "If tablet and mobile images are not provided, the section will use the desktop image as a default."
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "tablet_image",
          "label": "Tablet Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "header",
          "content": "Color Settings"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background",
          "default": "#F4FEF2"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color"
        },
        {
          "type": "header",
          "content": "Button Settings"
        },
        {
          "type": "url",
          "id": "button1_url",
          "label": "Button 1 URL"
        },
        {
          "type": "text",
          "id": "button1_text",
          "label": "Button 1 Text",
          "default": "Shop Sale"
        },
        {
          "type": "url",
          "id": "button2_url",
          "label": "Button 2 URL"
        },
        {
          "type": "text",
          "id": "button2_text",
          "label": "Button 2 Text",
          "default": "Shop Chanel"
        },
        {
          "type": "header",
          "content": "Other Settings"
        },
        {
          "type": "checkbox",
          "id": "flip_image",
          "label": "Flip Image",
          "info": "This setting switches the order of the image and text containers. Checking the box will display the image on the right.",
          "default": false
        },
        {
          "type": "header",
          "content": "Paddings"
        },
        {
          "type": "range",
          "id": "content_padding",
          "min": 10,
          "max": 200,
          "step": 10,
          "unit": "px",
          "label": "Text Padding",
          "default": 150
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "Content"
    }
  ]
}
{% endschema %}